<footer>
    <div id="news-sales">
        <div>
            <a>
                <span>NEWS</span>
            </a>
        </div>
        <div>
            <a>
                <span>SALES</span>
            </a>
        </div>
    </div>
    <div id="subscribe">
        <div>
            <h2>SUBSCRIBE TO OUR<br>NEWSLETTER</h2>
        </div>
        <div>
            <img src="../../assets/images/carta.png" alt="">
        </div>
        <div class="button">
            <button>Subscribe</button>
        </div>
    </div>
    <div id="special">
        <a>
            <span>SPECIAL OFFERS</span>
        </a>
    </div>
</footer>