.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-title {
    width: 50%;
    margin: 0 1rem;
    margin-top: 5rem;
    cursor: default;
}

h1 {
    font-size: clamp(2rem, 10vw, 126px);
    color: #E7E7DB;
}

.section-title.overimg {
    margin-top: 0;
}

.img-cont {
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.img-cont > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(80%);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    padding: 0;
    margin: 1rem;
}

li {
    background: #E7E7DB;
    border-radius: 8px;
    overflow: hidden;
}

a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #333;
}

.img-cont-2 {
    overflow: hidden;
    padding: 0;
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

li:hover img {
    transform: scale(1.1);
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h3 {
    font-size: 24px;
    margin: 0;
}

span {
    font-size: 24px;
    font-weight: bold;
    color: #E8572A;
}

li:hover h3 {
    text-decoration: underline;
}