.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-title {
    width: 50%;
    margin: 0 1rem;
    margin-top: 5rem;
    cursor: default;
}

h1 {
    font-size: clamp(2rem, 10vw, 126px);
    color: #E7E7DB;
}

.section-title.overimg {
    margin-top: 0;
}

.img-cont {
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.img-cont > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(80%);
}

ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 100%;
    margin: 0 auto;
}

li {
    background-color: #fff;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
    color: #333;
}

a > img {
    max-width: 400px;
    height: 500px;
    border-bottom: 1px solid #ddd;
}

span {
    font-size: 1rem;
    font-weight: bold;
    color: #27ae60;
    margin-top: 10px;
}