@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}  

body {
    background-color: #DCDACB;
    margin: 0;
}

h1, h2, h3, span {
    font-family: "Bebas Neue";
    margin: 0;
}
