<main>
    <section class="container">
        <div class="section-title">
            <h1>CATALOG</h1>
        </div>
        <div class="grid">
            <a id="bento-box-1" class="bento-box">
                <div class="bento-title">
                    <h3>SLEEPING</h3>
                    <span>68</span>
                </div>
                <div class="bento-img">
                    <img src="../../assets/images/sleeping.png" alt="">
                </div>
            </a>
            
            <a id="bento-box-2" class="bento-box">
                <div class="bento-title">
                    <h3>COOKING</h3>
                    <span>32</span>
                </div>
                <div class="bento-img">
                    <img src="../../assets/images/cooking.png" alt="">
                </div>
            </a>
            
            <a id="bento-box-3" class="bento-box">
                <div class="bento-title">
                    <h3>LIGHTS</h3>
                    <span>18</span>
                </div>
                <div class="bento-img">
                    <img src="../../assets/images/lights.png" alt="">
                </div>
            </a>
            
            <a id="bento-box-4" class="bento-box">
                <div class="bento-title">
                    <h3>STORAGE</h3>
                    <span>17</span>
                </div>
                <div class="bento-img">
                    <img src="../../assets/images/storage.png" alt="">
                </div>
            </a>
            
            <a id="bento-box-5" class="bento-box">
                <div class="bento-title">
                    <h3>FURNITURE</h3>
                    <span>25</span>
                </div>
                <div class="bento-img">
                    <img src="../../assets/images/furniture.png" alt="">
                </div>
            </a>
            
            <a id="bento-box-6" class="bento-box">
                <div class="bento-title">
                    <h3>TENTS</h3>
                    <span>46</span>
                </div>
                <div class="bento-img">
                    <img src="../../assets/images/tents.png" alt="">
                </div>
            </a>
            
            <a id="bento-box-7" class="bento-box">
                <div class="bento-title">
                    <h3>APPAREL</h3>
                    <span>53</span>
                </div>
                <div class="bento-img">
                    <img src="../../assets/images/apparel.png" alt="">
                </div>
            </a>
        </div>
    </section>

    <section class="container">
        <div class="section-title">
            <h1>CAMP<br>JOURNAL</h1>
        </div>
        <div class="flex">
            <a id="journal-box-1" class="journal-box">
                <div class="date">
                    <span>28</span>
                    <span>October</span>
                    <span>2024</span>
                </div>
                <div class="photo">
                    <div class="photo-paper">
                        <img src="../../assets/images/journal-1.png" alt="">
                    </div>
                </div>
                <div class="jour-title">
                    <h2>A GUIDE TO CAMP<br>COOKING</h2>
                </div>
                <div class="author">
                    <span>Julian</span>
                    <span>Park</span>
                </div>
            </a>
            <a id="journal-box-2" class="journal-box">
                <div class="date">
                    <span>12</span>
                    <span>January</span>
                    <span>2025</span>
                </div>
                <div class="photo">
                    <div class="photo-paper">
                        <img src="../../assets/images/journal-2.png" alt="">
                    </div>
                </div>
                <div class="jour-title">
                    <h2>CAMPING WITH<br>FRIENDS</h2>
                </div>
                <div class="author">
                    <span>Hannah</span>
                    <span>Tomson</span>
                </div>
            </a>
        </div>
    </section>
</main>